.title-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
}
.movie-card {
  box-shadow: none;
  transition: 0.3s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  cursor: pointer;
}
.movie-card:hover {
  transform: scale(1.04);
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
}
